<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
      <meta charset="UTF-8">
    <title>Mobile</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>

<body>

<th:block th:include="~{fragments/navbar}"></th:block>

<div class="container">
    <h2 class="text-center text-white">Register User</h2>
    <form method="POST" th:action="@{/users/register}" th:object="${userRegisterBindingModel}"
          class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label for="firstName" class="text-white font-weight-bold">First Name</label>
                <input th:field="*{firstName}" th:errorclass="bg-danger" id="firstName" type="text" min="2" max="20" class="form-control"
                       placeholder="First name"/>
                <p th:if="${#fields.hasErrors('firstName')}" class="errors alert alert-danger">
                    First name is required.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label for="lastName" class="text-white font-weight-bold">Last Name</label>
                <input th:field="*{lastName}" th:errorclass="bg-danger" id="lastName" type="text" min="2" max="20" class="form-control"
                       placeholder="First name"/>
                <p th:if="${#fields.hasErrors('lastName')}" class="errors alert alert-danger">
                    Last name is required.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label for="username" class="text-white font-weight-bold">Username</label>
                <input th:field="*{username}" th:errorclass="bg-danger" id="username" type="text" min="2" max="20" class="form-control"
                       placeholder="First name"/>
                <p th:if="${#fields.hasErrors('username')}" class="errors alert alert-danger">
                    Username is required.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label for="password" class="text-white font-weight-bold">Password</label>
                <input th:field="*{password}" th:errorclass="bg-danger" id="password" type="password" min="2" max="20" class="form-control"
                       placeholder="Password"/>
                <p th:if="${#fields.hasErrors('password')}" class="errors alert alert-danger">
                    Password is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="text-center text-white font-weight-bold" for="roles">Roles</label>
            <select  id="roles" class="form-control" multiple>
                <option>
                </option>
            </select>
            <p class="errors alert alert-danger">
                Selecting a role is required.
            </p>
        </div>

        <div class="row">
            <div class="col col-md-4">
                <div class="button-holder d-flex">
                    <input type="submit" class="btn btn-info btn-lg" value="Submit Offer"/>
                </div>
            </div>
        </div>
    </form>
</div>

<div>
     <footer> </footer>
</div>

</body>
</html>
