<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"> >

<head>
       <meta charset="UTF-8">
    <title>Mobile</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>

<body>

<th:block th:include="~{fragments/navbar}"></th:block>

<div class="container">
    <h2 class="text-center text-white m-3">All Brands</h2>
    <div class='row mb-4 d-flex justify-content-around'>
        <div th:each="brand : ${brands}"
                class="brand-section col-md-5 mr-auto d-flex flex-column">
            <h2>Car brand:
                <span th:text="${brand.getName()}" >Brand name</span>
            </h2>
            <div>Models:
                <table>
                    <tr>
                        <th>No</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Start Year</th>
                        <th>End Year</th>
                        <th>Picture</th>
                    </tr>
                    <tr th:each="model, modelStat: ${brand.models}">
                        <td th:text="${modelStat.index + 1}">No</td>
                        <td th:text="${model.name}">Name</td>
                        <td th:text="${model.category}">Category</td>
                        <td th:text="${model.startYear}">Start Year</td>
                        <td th:text="${model.endYear}">End Year</td>
                        <td><img th:src="${model.imageUrl}" class="img-thumbnail rounded"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div>
             <footer> </footer>
    </div>
</div>
</body>
</html>
